@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@mixin border-left-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-full-radius($radius) {
  border-radius: $radius;
 
}




body {
    background-color: #9A616D;



}

.login-container {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    @media (max-width: 767px) {
        height: auto;
    }

    .login-inner {
        width: 600px;
       
        background-color: #FFFFFF;
        border-radius: 10px;

       

        img {

            @media (min-width: 768px) {
               @include border-left-radius(10px);
                width: 100%;
                height: 100%;
                margin-top: 0px;
            }

            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 200px;
            margin-top: 20px;

            @media (max-width: 767px) {
                @include border-full-radius(10px)
            }
          
         
        }
    }
   
  

 

}

